@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.weblogin {
    position: relative;
    font-family: "Droid Sans Mono", SansSerif, monospace !important;
    font-size: 30px;
    text-decoration: none;
    color: black !important;
    text-align: center;
}

a.project {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Droid Sans Mono", SansSerif, monospace !important;
    font-size: 30px;
    text-decoration: underline;
    color: white !important;
    text-align: center;
}

p.copyright {
    font-family: "Droid Sans Mono", SansSerif, monospace;
    font-size: 10px;
    text-align: center;
    color: white !important;
    margin-top: 70px;
}

div.container {
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 400px;
    background-color: rgba(26, 29, 32, 0.76);
    border-radius: 70px;
}

div.verticalLine {
    position: absolute;
    margin: auto;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 200px;
    background-color: #000000;
}

div.container h3.socialsHeadline {
    font-size: 20px;
    font-family: "Droid Sans Mono", SansSerif, monospace;
    margin-left: 275px;
    margin-top: -250px;
    text-decoration: #939393 underline;
}

div.links a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 25px;

}

div.links {
    margin-left: 350px;
}

div.links a :hover{
    color: #e071c4;

}

p.quote {
    font-size: 20px;
    font-family: 'Bad Script', cursive !important;
    margin-left: 25px;
    margin-right: 350px;
}

div.container p, div.container h1, div.container h3 {
    text-align: center;
    font-family: "Droid Sans Mono", SansSerif, monospace;
    color: white;
}

div.container h1.name {
    font-weight: 5;
    font-size: 40px;
    margin-top: 50px;
    text-decoration: #939393 underline;
}

div.container h3.tagline {
    font-weight: 5;
    margin-top: -20px;
    font-size: 20px;
}

img.profileImage {
    z-index: 2;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 450px;
    left: 0;
    width: 122px;
    height: 122px;
    border-radius: 100px;
    border: #1a1d20 1px solid;
}